html, body, #root, #background {
  height: 100%;
  background-color: #884a8c;
}

.white {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
}

.btn-rounded {
  border-radius: 40px !important;
}

.spinner-center-text {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  padding-top: 200px;
}

.profile {
  color: white;
  font: 30px;
}
