html, body, #root, #background {
  height: 100%;
  background-color: #884a8c;
}

.fixed {
  position: fixed;
}

.centered {
  position: relative;
  top: 28%;
}

.test {
  position: relative;
}

.test > i {
  position: absolute;
  display: block;
  transform: translate(0, -52%);
  top: 50%;
  pointer-events: none;
  width: 37px;
  text-align: center;
  font-style: normal;
  z-index: 9;
  color: rgb(100, 100, 100);
}

.whiteText {
  color: white;
}

.test > input {
  padding-left: 25px;
  padding-right: 0;
  /* border-radius: 10px; */
}

